@model Pierres.Models.Treat

<h2>Add Flavors to @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Add Flavor" class="btn btn-default" />
}

<h4>Flavors List</h4>
@if(Model.JoinEntities.Count == 0)
{
  <p>This Treat currently has no Flavors</p>
}
else
{
  @if(ViewBag.Same!="ok")
  {
  <p>@ViewBag.Same</p>
  }
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Flavor.Name</li>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        @Html.Hidden("TreatId", @Model.TreatId)
        <input type="submit" value="Delete"  class="btn btn-danger" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Treat Details", "Details", new { id = Model.TreatId})</p>